extends index-layout

//- Inspired in https://getbootstrap.com/docs/4.5/examples/cover/
block content
    h1.cover-heading FITPUG
        p.lead Create your own workouts in an intuitive way. Please register by pressing the button below or login to your account
        p.lead
            a.btn.btn-lg.btn-secondary(href='/auth/register') Register

