extends base-layout

block main-content
  body
    header
      nav.navbar.navbar-expand-md.navbar-dark.sticky-top.bg-dark
        a.nav.navbar-brand(href='/workouts')
          span FITPUG -&nbsp;
          span= title
        ul.navbar-nav.ml-auto
          li.nav-item.dropdown
            a#navbarLogout.nav-link.dropdown-toggle(href='/workouts' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              span.mr-1= username
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='/auth/logout') Logout
    block content
    footer.footer.container-fluid
      span.text-muted © Webpage by the Internationals 2020
