extends index-layout

block content
    .container-fluid
        .row.m-sm-5.p-sm-5.text-justify
            form.w-100(action='/auth/login', method='post')
                .form-group
                    label(for='email') E-mail address
                    input#email.form-control(name='email' type='email' aria-describedby='email-info' placeholder='Enter e-mail address')
                .form-group
                    label(for='password') Password
                    input#password.form-control(name='password' type='password' placeholder='Enter password')
                br
                button.btn.btn-primary(type='submit') Login