extends layout

block content
    .workout-content.p-3
        .container-fluid
            // TODO add link
            button.btn.btn-primary.float-right.mr-3(role="button" data-toggle="modal" data-target="#createWorkoutModal")
                svg.bi.bi-plus-circle(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg').mr-2
                    path(fill-rule='evenodd' d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
                    path(fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z')
                | Add
            h3.pl-3.my-3= title
            .row.p-3
                each workout in workouts
                    .col-md-6.col-lg-3.p-3
                        .workout-item.border.border-dark.rounded
                            .workout-header.px-4.pt-4
                                span= workout.name
                                hr
                            .workout-desc.px-4.pt-2
                                p=  !workout.description || workout.description === "" ? "No description." : workout.description
                                hr
                            .workout-bottom.px-4.py-3
                                // TODO add link
                                a.btn.btn-outline-primary(href="/workouts/" + workout.id role="button")
                                    svg.bi.bi-pencil-square(width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg').mr-1
                                        path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                        path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')
                                    | Edit


    // Modal
    #createWorkoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='createWorkoutModal' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Create Workout
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    form(action='/workouts', method='post')
                        .form-group
                            label(for='name') Workout Name
                            input#name.form-control(name='name' autocomplete="off" placeholder='Enter workout name')
                        .form-group
                            label(for='description') Workout Description
                            textarea#description.form-control(name='description' autocomplete="off" placeholder='Enter workout description')
                        button.btn.btn-primary(type='submit') Create
                
                    
